@font-face {
  font-family: "Tenor Sans";
  src: url("../fonts/TenorSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@page {
  margin: 2.5cm 2cm;
}

body {
  background: #ffffff;
  color: #1e2329;
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  font-size: 11pt;
  line-height: 1.7;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  margin-top: 1.5em;
  margin-bottom: 0.4em;
}

h1 {
  font-size: 2em;
  color: #5d7fcd;
}

h2 {
  font-size: 1.5em;
  color: #5d7fcd;
}

h3 {
  font-size: 1.2em;
  color: #5d7fcd;
}

h4 {
  font-size: 1em;
  color: #5d7fcd;
}

p {
  margin: 0.75em 0;
}

a {
  color: #5d7fcd;
  text-decoration: none;
}

code {
  font-family: monospace;
  font-size: 0.88em;
}

pre, pre.sourceCode {
  background: #2c333b;
  border: 1px solid #282828;
  padding: 1em;
  font-size: 0.88em;
  line-height: 1.5;
}

/* credits to: https://github.com/runxel/skylighting-theme */

pre code { color: #c9d1d9; padding: 0; }

code span.kw { color: #ff6c9b; }                         /* Keyword */
code span.dt { color: #c28eff; }                         /* DataType */
code span.dv { color: #8dc5ff; }                         /* DecVal */
code span.bn { color: #8dc5ff; }                         /* BaseN */
code span.fl { color: #8dc5ff; }                         /* Float */
code span.ch { color: #e3db7a; }                         /* Char */
code span.st { color: #e3db7a; }                         /* String */
code span.co { color: #bec5cd; font-style: italic; }     /* Comment */
code span.ot { color: #c9d1d9; }                         /* Other */
code span.al { color: #ff6c9b; }                         /* Alert */
code span.fu { color: #70df5c; }                         /* Function */
code span.cn { color: #c28eff; }                         /* Constant */
code span.sc { color: #e3db7a; }                         /* SpecialChar */
code span.vs { color: #e3db7a; }                         /* VerbatimString */
code span.ss { color: #e3db7a; }                         /* SpecialString */
code span.im { color: #ff6c9b; }                         /* Import */
code span.va { color: #70df5c; }                         /* Variable */
code span.cf { color: #ff6c9b; }                         /* ControlFlow */
code span.op { color: #8dc5ff; }                         /* Operator */
code span.bu { color: #70df5c; }                         /* BuiltIn */
code span.ex { color: #70df5c; }                         /* Extension */
code span.pp { color: #c28eff; }                         /* Preprocessor */
code span.at { color: #bfcdea; }                         /* Attribute */
code span.er { color: #ff6c9b; }                         /* Error */
code span.wa { color: #e3db7a; font-style: italic; }     /* Warning */
code span.do { color: #bec5cd; font-style: italic; }     /* Documentation */
code span.an { color: #bec5cd; font-style: italic; }     /* Annotation */
code span.cv { color: #bec5cd; font-style: italic; }     /* CommentVar */
code span.in { color: #bec5cd; }                         /* Information */

blockquote {
  border-left: 3px solid #ff6c9b;
  margin: 1em 0;
  padding: 0.4em 1em;
  color: #5a6270;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 0.95em;
}

th {
  font-family: "Tenor Sans", sans-serif;
  font-weight: normal;
  color: #ff6c9b;
  padding: 0.5em 0.75em;
  text-align: left;
  border-bottom: 2px solid #ff6c9b;
}

td {
  padding: 0.5em 0.75em;
  border-bottom: 1px solid #e4e8ed;
}

hr {
  border: none;
  border-top: 1px solid #e4e8ed;
  margin: 2em 0;
}

ul, ol {
  padding-left: 1.5em;
  margin: 0.5em 0;
}

li {
  margin: 0.25em 0;
}

li::marker {
  color: #ff6c9b;
}
